#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}
#container{
    text-align: center;
}
.button{
    padding: 10px 20px;
    font-size: 2em;
    background-color:rgb(189, 89, 53);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.button:hover{
    background-color: rgb(151, 213, 59);
}